[submodule "selective-inference"]
	path = selective-inference
	url = git@github.com:snigdhagit/selective-inference.git
[submodule "regreg"]
	path = regreg
	url = git@github.com:jonathan-taylor/regreg.git
[submodule "fastqtl"]
	path = fastqtl
	url = git@github.com:junjiezhujason/fastqtl-1.git
